<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>HelmTweak 工具箱</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>MCPPrefsListController</string>
			<key>label</key>
			<string>MCP</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>工具箱（按当前系统过滤）</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>tool_mcp-logreader</string>
			<key>label</key>
			<string>日志读取器</string>
			<key>isEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>tool_mcp-ldid</string>
			<key>label</key>
			<string>签名工具</string>
			<key>isEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>tool_mcp-appinst</string>
			<key>label</key>
			<string>IPA 安装</string>
			<key>isEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>tool_mcp-appsync</string>
			<key>label</key>
			<string>AppSync</string>
			<key>isEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>tool_mcp-root</string>
			<key>label</key>
			<string>Root 命令</string>
			<key>isEnabled</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>id</key>
			<string>tool_mcp-roothelper</string>
			<key>label</key>
			<string>Root 安装器</string>
			<key>isEnabled</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>HelmTweak</string>
</dict>
</plist>
